<!-- <form action="ask" method="get">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> -->

<h1>Ask away: </h1>

<form class="form-inline" action="answer" method="get">
  <input type="text" class="form-control" name="question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
